{%  extends 'news/layout.html' %}
{% load static %}

{% block title %} Новости {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/news_list.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex flex-column mt-4 align-items-center">
<div class="card" style="width: 40rem;">
  <div class="card-header text-center">
      <h3>Публикация новости</h3>
  </div>
  <div class="card-body">
      <form method="post" action="{% url 'news:create_blog' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="inputTitle" class="form-label">Тема</label>
            <input name="title" type="text" class="form-control" placeholder="Введите заголовок" id="inputTitle">
          </div>
          <div class="mb-3">
            <label for="inputTitle" class="form-label">Содержание новости</label>
            <textarea name="content" class="form-control" id="inputTitle" placeholder="Введите текст"></textarea>
          </div>
          <div class="mb-3">
            <label for="inputImage" class="form-label">Upload Image</label>
            <input name="image" type="file" class="form-control" id="inputImage"  accept="image/*">
          </div>
          <div class="mb-3">
            <label class="form-label">Картинка</label>
            <div id="imagePreview" style="border: 1px dashed #ccc; padding: 10px; text-align: center;">
              <span>Здесь будет отображаться ваша картинка</span>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Опубликовать</button>
      </form>
  </div>
</div>
</div>
    <script>
  document.getElementById('inputImage').addEventListener('change', function(event) {
    const file = event.target.files[0]; // Получаем выбранный файл
    const previewContainer = document.getElementById('imagePreview');

    // Очистить контейнер
    previewContainer.innerHTML = '';

    if (file) {
      const reader = new FileReader();

      // Устанавливаем изображение после загрузки
      reader.onload = function(e) {
        const img = document.createElement('img');
        img.src = e.target.result;
        img.style.maxWidth = '100%';
        img.style.height = 'auto';
        previewContainer.appendChild(img);
      };

      // Читаем содержимое файла
      reader.readAsDataURL(file);
    } else {
      previewContainer.innerHTML = '<span>Здесь будет ваша картинка</span>';
    }
  });
</script>

{% endblock %}