{%  extends 'news/layout.html' %}
{% load static %}

{% block title %} Новости {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/news_list.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex flex-column gap-4">
        <div class="card" style="width: 40rem;">
          <h5 class="card-header">Адрес</h5>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 40rem;">
          <h5 class="card-header">Адрес</h5>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 40rem;">
          <h5 class="card-header">Адрес</h5>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
{% endblock %}