{%  extends 'news/layout.html' %}
{% load static %}

{% block title %} Новости {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/news_list.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex flex-column gap-4 mt-4 mb-4 align-items-center">
        <div class="card" style="width: 40rem;">
          <h5 class="card-header">Кто такие SkelesheitNews?</h5>
          <div class="card-body">
            <p class="text-center">
                <span class="fw-bold text-info">SkelesheitNews</span>
                <span> — динамично развивающаяся медиакомпания, специализирующаяся на предоставлении актуальных новостей, аналитики и обзоров в области технологий, бизнеса, культуры и науки. Мы стремимся быть надежным источником информации для нашей аудитории, предлагая уникальный взгляд на события, которые формируют наше будущее.
                Наша команда состоит из профессионалов в области журналистики, аналитики и digital-маркетинга, которые ежедневно работают над созданием высококачественного контента. Мы активно развиваем свои онлайн-платформы и социальные сети, чтобы предоставлять информацию в удобном и доступном формате для пользователей по всему миру.
                SkelesheitNews ориентирована на независимость, достоверность и объективность в освещении событий. Мы публикуем не только новости, но и глубокие аналитические материалы, интервью с экспертами, а также прогнозы о тенденциях в разных сферах жизни.
                Присоединяйтесь к нам, чтобы быть в курсе всех ключевых событий и находиться на переднем крае информации с SkelesheitNews.
                </span>
            </p>
          </div>
        </div>
        <div class="card" style="width: 40rem;">
          <h5 class="card-header">Адрес компании</h5>
          <div class="card-body">
              <p class="fs-3">Филиал в Москве</p>
              <ul>
                  <li>125319, Москва, ул. Тверская, д. 52, офис 32</li>
                  <li>Телефон: +7 (495) 555-12-34</li>
                  <li>Email: info@technogroup.ru</li>
              </ul>
              <p class="fs-3"> Филиал в Санкт-Петербурге</p>
              <ul>
                  <li>620075, Екатеринбург, ул. Ленина, д. 22, офис 15</li>
                  <li> Телефон: +7 (343) 321-44-56</li>
                  <li>Email: office@rosbusiness.ru</li>
              </ul>
          </div>
        </div>
        <div class="card" style="width: 40rem;">
          <h5 class="card-header">Социальные сети</h5>
          <div class="card-body">
            <ul>
                <li>ВКонтакте: <span><a href="https://vk.com/yugtech" target="_blank">vk.com/yugtech</a></span></li>
                <li>YouTube: <a href="https://youtube.com/channel/UC0987654321" target="_blank">youtube.com/channel/UC0987654321</a></li>
                <li>Одноклассники: <a href="https://ok.ru/yugtech" target="_blank">ok.ru/yugtech</a></li>
                <li>Telegram: <a href="https://t.me/yugtech_news" target="_blank">t.me/yugtech_news</a></li>
            </ul>

          </div>
        </div>

    </div>
{% endblock %}