<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              {% for newsItem in news_list %}
            <div class="carousel-item active">
              <img src="{{ newsItem.picture.url }}" class="d-block w-100" alt="{{title}}">
                <h2>{{ newsItem.title }}</h2>
                <p>{{ news.content|truncatewords:20 }}</p>
                <a>Узнать</a>
            </div>
              {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>